MONGODB_URI=mongodb://localhost:27011/sim-ai
MODEL_PROVIDER=ollama
OLLAMA_BASE_URL=http://localhost:11434
GOOGLE_API_KEY=your_key_here
OPENAI_API_KEY=your_key_here
ANTHROPIC_API_KEY=your_key_here
AZURE_OPENAI_API_KEY=your_key_here
AZURE_OPENAI_INSTANCE_NAME=your_instance_name
AZURE_OPENAI_DEPLOYMENT_NAME=your_deployment_name
AZURE_OPENAI_API_VERSION=2023-05-15
